.container {
  margin: 20px auto;
  width: 50%;
}

.form {
  margin-top: 3rem;
}

.formControl {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 10px;
}

.formControlInput {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 2.5rem;
  padding: 0.5rem;
  margin-top: 10px;
}

.formControlInputArea {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.5rem;
  margin-top: 10px;
}

.label {
  font-weight: bold;
}

.button {
  width: 70%;
  padding: 15px 10px;
  background-color: rgb(44, 44, 187);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(63, 63, 185);
}

.redBorder {
  border: 1px solid red;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  border-radius: 3px;
  height: 2.5rem;
  padding: 0.5rem;
  margin-top: 10px;
}
